.board-container {
  position: relative;

  .board {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
    box-sizing: content-box;
    thead {
      tr {
        border: 1px solid #000;
        height: 40px;
        th:nth-child(1) {
          background-color: red;
        }
      }
    }
    tbody {
      tr {
        border: 1px dotted blue;
      }
    }
  }
}
