body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.todo-item-list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    .todo-item {
        height: 40px;
        line-height: 40px;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 3px;
        margin-bottom: 5px;
        position: relative;
        &.done:before {
            content: '';
            display: block;
            position: absolute;
            left: -10px;
            width: 30px;
            height: 100%;
            background: #afaffa;
        }
    }
}
